<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Users</h1>
    <table class="table" style="width:100%">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>email address</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr class="info">
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.is_admin ? "Admin" : "Student" %></td>
          <td><%= button_to user.is_admin ? "... to Student" : "Promote to Admin", user_path(user.id), method: "put" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
